@media only screen and (max-width: 600px) {
  body {
    background-color: #ff0000;
  }
}

@media only screen and (min-width: 601px) and (max-width: 960px) {
  body {
    background-color: #00ff00;
  }
}

@media only screen and (min-width: 961px) {
  body {
    background-color: #0000ff;
  }
}
