/* so we can use %s for width and height of the header stuff */
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

/* flex column so that the nav bar and the image are responsive and stack ontop of eachother */
.hero-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* want the nav bar and icon to take up roughly 10% of the page, and stay that way, so it shrinks 9x as fast as the hero image
  needs to be display flex so that the nav bar itself is responsive */
header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}

/* set up the icon on the top left, don't want it to resize so we set it to 0 0, and let the nav bar resize around it instead
  have it as display flex so that the icon and name line up nice and neat beside eachother */
.header-info {
  display: flex;
  flex: 0 0 auto;
  padding: 0px;
}

/* display flex so that we can properly centre the text vertically */
.header-info a {
  display: flex;
  flex: 0 0 auto;
  text-decoration: none;
}

/* border radius sets it as a circular image
  width and height set the size of the image */
#header-img {
  width: 85px;
  height: 85px;
  border-radius: 50%;
}

/* vertically centres the text
  padding gives it some space from the nav bar and the image */
header h3 {
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

/* sets up the nested display flex and flex settings so that the nav bars are responsive, also so we can centre the text */
nav, nav ul, nav li{
  display: flex;
  flex: 1 1 auto;
  margin: 0px;
}

/* list style type removes the bullets and padding removes the normal left indentation from the list */
nav ul {
  list-style-type: none;
  padding: 0px;
}

/* text decoration removes the underline from the links
  set up with borders, but may consider removing them if background colour is properly done it may become redundant */
nav a {
  display: flex;
  flex: 1 1 auto;
  text-decoration: none;
  border: 2px solid black;
  border-left: none;
}

/* want the left border only on the first list item */
nav li:first-child {
  border-left: 2px solid black;
}

/* centres the text for the nav links */
nav p {
  margin: auto;
}

/* sets up the hero image to ideally take up 90% of the page
  background image sets the picture
  it will repeat the image and tile the background by default, no-repeat fixes this
  background size to cover automatically resizes the image to take up the entire container */
.hero-content {
  display: flex;
  flex: 9 1 90%;
  background-image: url("hero-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* centres the hero text */
.hero-content h1 {
  margin: auto;
  font-size: 6em;
}

/* sets the content window to the entire screen size, minus the nav bar at the top */
.content {
  width: 100%;
  height: 90%;
}

/* sets up the parent container */
#about-me {
  width: 100%;
  height: 100%;
  display: flex;
}

/* the margin gets the text away from the left side of the page */
#name {
  margin-left: 2%;
}

/* sets it so that the content is responsive */
.about-me-content {
  flex: 1 1 auto;
  margin-left: 2%;
}

/* the image doesn't ever take up more than 20% of the width of the page, can change it to bigger or smaller depending on how you feel */
.about-me-img {
  flex: 0 0 20%;
  padding: 10%;
  padding-top: 0px;
}

/* setting the width to 100% and then not setting height, but the max height allows it to automatically set the height so that the image doesn't get weirdly distorted */
.about-me-img img {
  width: 100%;
  max-height: 100%;
  border: 5px solid black;
}
